<div class="container mt-1">
  <figure>
    <blockquote class="blockquote">
      <p>Panel Administrativo</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Seleccione una de las <cite title="Source Title">Federaciones</cite> para ver su detalle
    </figcaption>
  </figure>
    <!-- Tabla Principal -->
    <table class="table table-striped mt-3">
      <thead class="table-primary">
        <tr>
          <th style="width:6%"></th>
          <th style="width:22%">Federación</th>
          <th style="width:18">País</th>
          <th style="width:13%">Teléfono</th>
          <th style="width:34%">Dirección</th>
          <th style="width:7%">Hoteles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let federation of federations">
          <td>
            <i class="fa-solid fa-edit text-primary mx-1" (click)="editFederation(federation)"></i>
            <i class="fa-solid fa-trash text-danger mx-1" (click)="deleteFederation(federation)"></i>
          </td>
          <td class="text-left">{{ federation.n_federacion }}</td>
          <td class="text-left">{{ getCountryName(federation.n_country) }}</td>
          <td class="text-left"><span style="width:60px !important;">{{ federation.n_country }}</span> {{ federation.mobile_number }}</td>
          <td class="text-left">{{ federation.n_address }}</td>
          <td>
            <i ngbTooltip="Hoteles" placement="left" class="fa-solid fa-hotel text-danger" (click)="showHotels(federation.id)"></i>
          </td>          
        </tr>
      </tbody>
    </table>
  </div>
  