.container {
    h2 {
      font-size: 1.8rem;
      font-weight: bold;
    }
  
    table {
      th, td {
        text-align: center;
        vertical-align: middle;
      }
  
      .fa-edit {
        cursor: pointer;
      }
  
      .fa-trash {
        cursor: pointer;
      }
  
      .fa-hotel {
        cursor: pointer;
      }
    }
  }
  