<img src="assets/images/header.jpg" alt="Header Image" style="width: 70%; height: auto;" />
<div class="row">
  <div class="col-md-9 text-left mt-3 mb-3">
    <p>Please email to Travel Agency (Mrs. Rocio Reategui) and Organizing C. at:
    <br><span style="color:blue;">rreategui&#64;actours.com.pe</span> and <span style="color:blue;">oc-peru&#64;fdntp.com</span></p>
  </div>
  <div class="col-md-3 mt-3" style="vertical-align: middle;">
    <button class="btn btn-primary w-100" (click)="guardar()"><i class="fa-solid fa-list"></i> SAVE ROOMING LIST</button>
  </div>
</div>    
<div class="table-responsive">
  <table class="table table-bordered">
    <tr style="background-color: #cecece;">
      <td colspan="2" class="text-left" style="border-right:1px solid #999;color: black; font-weight: 700;">FINAL ROOMING LIST</td>
      <td colspan="2" class="text-left" style="color: black; font-weight: 700;">Please return by	<span style="color: red;background-color:transparent;">13 MAR 2025</span></td>
    </tr>
    <tr>
      <th style="background-color:ghostwhite;">
        <label for="federationName">Federation Name</label>
      </th>
      <td>
        <input
          id="federationName"
          type="text"
          class="form-control border border-0"
          style="background-color:transparent;"
          [(ngModel)]="federationName"
          (ngModelChange)="updateFederationData()"
        />
      </td>
      <th style="background-color:ghostwhite;">
        <label for="country">Country</label>
      </th>
      <td>
        <input
          id="country"
          type="text"
          class="form-control border border-0"
          style="background-color:transparent;"
          [(ngModel)]="country"
          (ngModelChange)="updateFederationData()"
        />
      </td>
    </tr>
    <tr>
      <th style="background-color:ghostwhite;">
        <label for="contactPerson">Contact Person</label>
      </th>
      <td>
        <input
          id="contactPerson"
          type="text"
          class="form-control border border-0"
          style="background-color:transparent;"
          [(ngModel)]="contactPerson"
          (ngModelChange)="updateFederationData()"
        />
      </td>
      <th style="background-color:ghostwhite;">
        <label for="phoneNumber">Phone Number</label>
      </th>
      <td>
        <input
          id="phoneNumber"
          type="text"
          class="form-control border border-0"
          style="background-color:transparent;"
          [(ngModel)]="phoneNumber"
          (ngModelChange)="updateFederationData()"
        />
      </td>
    </tr>
    <tr>
      <th style="background-color:ghostwhite;">
        <label for="emailAddress">Email Address</label>
      </th>
      <td>
        <input
          id="emailAddress"
          type="email"
          class="form-control border border-0"
          style="background-color:transparent;"
          [(ngModel)]="emailAddress"
          (ngModelChange)="updateFederationData()"
        />
      </td>
      <th style="background-color:ghostwhite;">
        <label for="mobileNumber">Mobile Number</label>
      </th>
      <td>
        <input
          id="mobileNumber"
          type="text"
          class="form-control border border-0"
          style="background-color:transparent;"
          [(ngModel)]="mobileNumber"
          (ngModelChange)="updateFederationData()"
        />
      </td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr style="background-color: #cecece;">
      <td class="text-left" style="border-right:1px solid #999;color: black; font-weight: 700;">HOTEL</td>
    </tr>
    <tr>
      <td>
        <input
          id="hotelName"
          type="text"
          class="form-control border border-0"
          style="background-color:transparent;"
          [(ngModel)]="hotelName"
          (ngModelChange)="updateFederationData()"
        />
      </td>
    </tr>
  </table> 
  <table class="table table-bordered mb-0">
    <thead>
      <tr style="background-color: #cecece !important;">
        <td colspan="7" class="text-left" style="background-color: #cecece !important;border-right:1px solid #999;color: black; font-weight: 700;">SINGLE</td>
      </tr>
      <tr>
        <th style="width:3%"></th>
        <th style="width:7%">N°</th>
        <th style="width:25%">Family Name</th>
        <th style="width:26%">First Name</th>
        <th style="width:11%">Passport #</th>
        <th style="width:12%">Day of arrival</th>
        <th style="width:16%">Day of departure</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableRows; let i = index">
        <td>
          <a href="javascript:void(0)" (click)="removeRow(i)" title="Remove block" style="font-weight:700">
            <i class="fa-regular fa-trash-can text-danger"></i>
          </a> 
        </td>
        <td>
          <input
            [id]="'idSingle' + (i + 1)"
            type="text"
            class="form-control border border-0"
            style="background-color:transparent;"
            [value]="row.id"
            readonly
          />
        </td>
        <td>
          <input
            [id]="'familyName' + (i + 1)"
            type="text"
            class="form-control border border-0"
            style="background-color:transparent;"
            [(ngModel)]="row.familyName"
          />
        </td>
        <td>
          <input
            [id]="'firstName' + (i + 1)"
            type="text"
            class="form-control border border-0"
            style="background-color:transparent;"
            [(ngModel)]="row.firstName"
          />
        </td>
        <td>
          <input
            [id]="'passNumber' + (i + 1)"
            type="text"
            class="form-control border border-0"
            style="background-color:transparent;"
            [(ngModel)]="row.passportNumber"
          />
        </td>
        <td>
          <input
            [id]="'dayArrival' + (i + 1)"
            type="date"
            class="form-control border border-0"
            style="background-color:transparent;"
            [(ngModel)]="row.dayArrival"
          />
        </td>
        <td>
          <input
            [id]="'dayDeparture' + (i + 1)"
            type="date"
            class="form-control border border-0"
            style="background-color:transparent;"
            [(ngModel)]="row.dayDeparture"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <div
    class="btn bg-info-subtle text-bold text-primary w-100 text-center"
    (click)="addRow()"
  >
    + ADD <strong>SINGLE</strong>
  </div>

  <table class="table table-bordered mt-3 mb-0">
    <thead>
      <tr style="background-color: #cecece !important;">
        <td colspan="7" class="text-left" style="background-color: #cecece !important;border-right:1px solid #999;color: black; font-weight: 700;">DOUBLE / TWIN</td>
      </tr>
      <tr>
        <th style="width:3%"></th>
        <th style="width:7%">N°</th>
        <th style="width:25%">Family Name</th>
        <th style="width:26%">First Name</th>
        <th style="width:11%">Passport #</th>
        <th style="width:12%">Day of arrival</th>
        <th style="width:16%">Day of departure</th>
      </tr>
    </thead>
    <tbody>
      <!-- Recorrer los bloques de filas -->
      <ng-container *ngFor="let block of tableRows; let i = index">
        <tr>
          <td rowspan="2" style="vertical-align: middle;">
            <a href="javascript:void(0)" (click)="removeBlock(i)" title="Remove block" style="font-weight:700">
              <i class="fa-regular fa-trash-can text-danger"></i>
            </a> 
          </td>
          <td rowspan="2" style="vertical-align: middle;">
            <input 
              [id]="'idSingle' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [value]="block.id" 
              readonly 
            />
          </td>
          <td>
            <input [id]="'familyName' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.familyName" 
            />
          </td>
          <td>
            <input [id]="'firstName' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.firstName" 
            />
          </td>
          <td>
            <input [id]="'passNumber' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.passportNumber" 
            />
          </td>
          <td>
            <input [id]="'dayArrival' + (i + 1)" 
              type="date" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.dayArrival" 
            />
          </td>
          <td>
            <input [id]="'dayDeparture' + (i + 1)" 
              type="date" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.dayDeparture" 
            />
          </td>
        </tr>
        <tr>
          <td>
            <input [id]="'familyName2' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.familyName2" 
            />
          </td>
          <td>
            <input [id]="'firstName2' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.firstName2" 
            />
          </td>
          <td>
            <input [id]="'passNumber2' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.passportNumber2" 
            />
          </td>
          <td>
            <input [id]="'dayArrival2' + (i + 1)" 
              type="date" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.dayArrival2" 
            />
          </td>
          <td>
            <input [id]="'dayDeparture2' + (i + 1)" 
              type="date" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.dayDeparture2" 
            />
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  
  <!-- Botón para agregar nuevos bloques -->
  <div class="btn bg-info-subtle text-bold text-primary w-100 text-center" (click)="addBlock()">
    + ADD <strong>DOUBLE/TWIN</strong> BLOCK
  </div>
  
  <table class="table table-bordered mt-3 mb-0">
    <thead>
      <tr style="background-color: #cecece !important;">
        <td colspan="7" class="text-left" style="background-color: #cecece !important;border-right:1px solid #999;color: black; font-weight: 700;">TRIPLE</td>
      </tr>
      <tr>
        <th style="width:3%"></th>
        <th style="width:7%">N°</th>
        <th style="width:25%">Family Name</th>
        <th style="width:26%">First Name</th>
        <th style="width:11%">Passport #</th>
        <th style="width:12%">Day of arrival</th>
        <th style="width:16%">Day of departure</th>
      </tr>
    </thead>
    <tbody>
      <!-- Recorrer los bloques de filas -->
      <ng-container *ngFor="let block of tableTripleRows; let i = index">
        <tr>
          <td rowspan="3" style="vertical-align: middle;">
            <a href="javascript:void(0)" (click)="removeTripleBlock(i)" title="Remove block" style="font-weight:700">
              <i class="fa-regular fa-trash-can text-danger"></i>
            </a>            
          </td>
          <td rowspan="3" style="vertical-align: middle;">
            <input 
              [id]="'idTriple' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [value]="block.id" 
              readonly 
            />
          </td>
          <td>
            <input 
              [id]="'familyName' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.familyName" 
            />
          </td>
          <td>
            <input 
              [id]="'firstName' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.firstName" 
            />
          </td>
          <td>
            <input 
              [id]="'passNumber' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.passportNumber" 
            />
          </td>
          <td>
            <input 
              [id]="'dayArrival' + (i + 1)" 
              type="date" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.dayArrival" 
            />
          </td>
          <td>
            <input 
              [id]="'dayDeparture' + (i + 1)" 
              type="date" 
              class="form-control border border-0"
              style="background-color:transparent;" 
              [(ngModel)]="block.dayDeparture" 
            />
          </td>
        </tr>
        <tr>
          <td>
            <input 
              [id]="'familyName2' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.familyName2" 
            />
          </td>
          <td>
            <input 
              [id]="'firstName2' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.firstName2" 
            />
          </td>
          <td>
            <input 
              [id]="'passNumber2' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.passportNumber2" 
            />
          </td>
          <td>
            <input 
              [id]="'dayArrival2' + (i + 1)" 
              type="date" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.dayArrival2" 
            />
          </td>
          <td>
            <input 
              [id]="'dayDeparture2' + (i + 1)" 
              type="date" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.dayDeparture2" 
            />
          </td>
        </tr>
        <tr>
          <td>
            <input 
              [id]="'familyName3' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.familyName3" 
            />
          </td>
          <td>
            <input 
              [id]="'firstName3' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.firstName3" 
            />
          </td>
          <td>
            <input 
              [id]="'passNumber3' + (i + 1)" 
              type="text" 
              class="form-control border border-0"
              style="background-color:transparent;" 
              [(ngModel)]="block.passportNumber3" 
            />
          </td>
          <td>
            <input 
              [id]="'dayArrival3' + (i + 1)" 
              type="date" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.dayArrival3" 
            />
          </td>
          <td>
            <input 
              [id]="'dayDeparture3' + (i + 1)" 
              type="date" 
              class="form-control border border-0"
              style="background-color:transparent;"
              [(ngModel)]="block.dayDeparture3" 
            />
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  
  <!-- Botón para agregar nuevos bloques -->
  <div class="btn bg-info-subtle text-bold text-primary w-100 text-center" (click)="addTripleBlock()">
    + ADD <strong>TRIPLE</strong> BLOCK
  </div> 
  
</div>

<table class="table table-bordered mt-3 mb-0">
    <tr>
      <th>
        <p>Note: </p>
        <p class="text-danger">Important advice: We recommend to send this rooming list as soon as possible in order to have all arrangements settled with the hotel ahead of time!</p>
      </th>
    </tr>
</table>

<table class="table table-bordered mt-3 mb-0">
  <tr style="background-color: #cecece !important;">
    <td class="text-left" style="background-color: #cecece !important;border-right:1px solid #999;color: black; font-weight: 700;">
      Organizing Committee
    </td>
  </tr>
  <tr>
    <td>
      Mr. Fabio Leon RAVINEZ / Ms. Antonella ZEVALLOS<br>
      Mobile: +51-937-678658 / +51-986-638201<br>
      E-mail:  <a href="mailto:oc-peru@fdntp.com" class="text-primary">oc-peru&#64;fdntp.com</a> / <a href="mailto:atas@fdntp.com" class="text-primary">ata&#64;fdntp.com</a> / <a href="mailto:secre@dntp.com" class="text-primary">secre&#64;dntp.com</a>
    </td>
  </tr>
</table>