<div id="pdfContent">
<img src="assets/images/header.jpg" alt="Header Image" style="width: 70%; height: auto;" />
<div class="row">
  <div class="col-md-8 text-left mt-3 mb-3">
    <p>Please email to Travel Agency (Mrs. Rocio Reategui) and Organizing C. at:
    <br><span style="color:blue;">rreategui&#64;actours.com.pe</span> and <span style="color:blue;">oc-peru&#64;fdntp.com</span></p>
  </div>
  <div class="col-md-2 mt-3" style="vertical-align: middle;">
    <button class="btn btn-danger w-100 no-print" (click)="exportPDF()">
      <i class="fa-regular fa-file-pdf"></i> EXPORT
    </button>
  </div>
  <div class="col-md-2 mt-3" style="vertical-align: middle;">
    <button class="btn btn-primary w-100 no-print" (click)="guardar()">
      <i class="fa-solid fa-list"></i> SAVE LIST
    </button>
  </div>
</div>
<div class="row no-print" id="formularioHoteles" *ngIf="!ocultarFormularioHoteles">
  <div class="col-md-12" style="margin-top:-10px; margin-bottom:10px;">
    <span class="text-danger"><strong> <i class="fa-solid fa-triangle-exclamation"></i> Please select one of the hotel options of your choice in preference order. Our operators will contact you to confirm your accommodation</strong></span>
  </div>
  <div class="col-md-12">
    <form [formGroup]="formu" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-label class="text-primary">Hotel 1</mat-label>
            <mat-select formControlName="n_hotel1" (selectionChange)="checkHotelSelection()" [disabled]="formu.controls['n_hotel1'].disabled">
              <mat-option value="">[ - Select - ]</mat-option>
              <mat-option *ngFor="let hotel of hotels" [value]="hotel">{{ hotel }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-label class="text-primary">Hotel 2</mat-label>
            <mat-select formControlName="n_hotel2" (selectionChange)="checkHotelSelection()" [disabled]="formu.controls['n_hotel2'].disabled">
              <mat-option value="">[ - Select - ]</mat-option>
              <mat-option *ngFor="let hotel of hotels" [value]="hotel">{{ hotel }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-label class="text-primary">Hotel 3</mat-label>
            <mat-select formControlName="n_hotel3" (selectionChange)="checkHotelSelection()" [disabled]="formu.controls['n_hotel3'].disabled">
              <mat-option value="">[ - Select - ]</mat-option>
              <mat-option *ngFor="let hotel of hotels" [value]="hotel">{{ hotel }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    
        <div class="col-md-3 d-flex align-items-center">
          <button class="btn btn-success w-100" type="submit" style="margin-top:-20px;">
            <i class="fa-regular fa-square-check me-3"></i> 
            <span style="font-size:0.8rem;">SELECT HOTELS OPTIONS</span>
          </button>
        </div>
      </div>
    </form>    
  </div>
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <tr style="background-color: #cecece;">
      <td colspan="2" class="text-left" style="border-right:1px solid #999;color: black; font-weight: 700;">FINAL ROOMING LIST</td>
      <td colspan="2" class="text-left" style="color: black; font-weight: 700;">Please return by	<span style="color: red;background-color:transparent;">13 MAR 2025</span></td>
    </tr>
    <tr>
      <th style="background-color:ghostwhite;">
        <label for="federationName">Federation Name</label>
      </th>
      <td>
        <input
          id="federationName"
          type="text"
          class="form-control border "
          style="background-color:transparent;font-size:0.8rem;"
          [(ngModel)]="federationName"
          (ngModelChange)="updateFederationData()"
        />
      </td>
      <th style="background-color:ghostwhite;">
        <label for="country">Country</label>
      </th>
      <td>
        <input
          id="country"
          type="text"
          class="form-control border "
          style="background-color:transparent;font-size:0.8rem;"
          [(ngModel)]="country"
          (ngModelChange)="updateFederationData()"
        />
      </td>
    </tr>
    <tr>
      <th style="background-color:ghostwhite;">
        <label for="contactPerson">Contact Person</label>
      </th>
      <td>
        <input
          id="contactPerson"
          type="text"
          class="form-control border "
          style="background-color:transparent;font-size:0.8rem;"
          [(ngModel)]="contactPerson"
          (ngModelChange)="updateFederationData()"
        />
      </td>
      <th style="background-color:ghostwhite;">
        <label for="phoneNumber">Phone Number</label>
      </th>
      <td>
        <input
          id="phoneNumber"
          type="text"
          class="form-control border "
          style="background-color:transparent;font-size:0.8rem;"
          [(ngModel)]="phoneNumber"
          (ngModelChange)="updateFederationData()"
        />
      </td>
    </tr>
    <tr>
      <th style="background-color:ghostwhite;">
        <label for="emailAddress">Email Address</label>
      </th>
      <td>
        <input
          id="emailAddress"
          type="email"
          class="form-control border "
          style="background-color:transparent;font-size:0.8rem;"
          [(ngModel)]="emailAddress"
          (ngModelChange)="updateFederationData()"
        />
      </td>
      <th style="background-color:ghostwhite;">
        <label for="mobileNumber">Mobile Number</label>
      </th>
      <td>
        <input
          id="mobileNumber"
          type="text"
          class="form-control border "
          style="background-color:transparent;font-size:0.8rem;"
          [(ngModel)]="mobileNumber"
          (ngModelChange)="updateFederationData()"
        />
      </td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr style="background-color: #cecece;">
      <td class="text-left" style="color: black; font-weight: 700;">HOTEL</td>
    </tr>
    <tr>
      <td>
        <input
          id="hotelName"
          type="text"
          class="form-control border "
          style="background-color:transparent;"
          [(ngModel)]="hotelName"
          (ngModelChange)="updateFederationData()"
          readonly
        />
      </td>
    </tr>
  </table> 

  <table class="table table-bordered mb-0">
    <thead>
      <tr style="background-color: #cecece !important;">
        <td colspan="5" class="text-left" style="background-color: #cecece !important;color: black;"><span style="font-weight: 700;">SINGLE</span> <span class="ms-2" style="font-size:0.7rem !important; font-weight: 400;">(Sign the number of rooms and the Check In and Check Out dates)</span></td>
      </tr>
      <tr>
        <th style="width:10%">ID</th>
        <th style="width:10%">Acciones</th>
        <th style="width:20%">Rooms</th>
        <th style="width:30%">Check In</th>
        <th style="width:30%">Check Out</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of singleRows; let i = index">
        <td>
          <input [id]="'idSingle' + (i + 1)" type="text" class="form-control border-0" style="background-color:transparent;font-size:0.8rem;" [value]="row.id" readonly/>
        </td>
        <td class="no-print text-center">
          <a href="javascript:void(0)" (click)="removeSingleRow(i)" title="Remove block" style="font-weight:700">
            <i class="fa-regular fa-trash-can text-danger"></i>
          </a>
        </td>
        <td>
          <input type="text" class="form-control border" [(ngModel)]="row.singleRooms" style="background-color:transparent;font-size:0.8rem;"/>
        </td>
        <td>
          <input type="datetime-local" class="form-control border" [(ngModel)]="row.checkIn" [min]="'2025-04-01T00:00'" [max]="'2025-04-30T23:59'" style="background-color:transparent;font-size:0.8rem;"/>
        </td>
        <td>
          <input type="datetime-local" class="form-control border" [(ngModel)]="row.checkOut" [min]="'2025-04-01T00:00'" [max]="'2025-04-30T23:59'"style="background-color:transparent;font-size:0.8rem;"/>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <div class="btn bg-info-subtle text-bold text-primary w-100 text-center no-print" (click)="addSingleRow()">
            + ADD <strong>ROOMS</strong>
          </div>
        </td>
      </tr>
    </tbody>
  </table>  

  <table class="table table-bordered mb-0 mt-3">
    <thead>
      <tr style="background-color: #cecece !important;">
        <td colspan="5" class="text-left" style="background-color: #cecece !important;color: black; font-weight: 700;"><span style="font-weight: 700;">DOUBLE/TWINS</span> <span class="ms-2" style="font-size:0.7rem !important; font-weight: 400;">(Sign the number of rooms and the Check In and Check Out dates)</span></td>
      </tr>
      <tr>
        <th style="width:10%">ID</th>
        <th style="width:10%">Acciones</th>
        <th style="width:20%">Rooms</th>
        <th style="width:30%">Check In</th>
        <th style="width:30%">Check Out</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of doubleRows; let i = index">
        <td>
          <input [id]="'idSingle' + (i + 1)" type="text" class="form-control border-0" style="background-color:transparent;font-size:0.8rem;" [value]="row.id" readonly/>
        </td>
        <td class="no-print text-center">
          <a href="javascript:void(0)" (click)="removeDoubleRow(i)" title="Remove block" style="font-weight:700">
            <i class="fa-regular fa-trash-can text-danger"></i>
          </a>
        </td>
        <td>
          <input type="text" class="form-control border" [(ngModel)]="row.doubleRooms" style="background-color:transparent;font-size:0.8rem;"/>
        </td>
        <td>
          <input type="datetime-local" class="form-control border" [(ngModel)]="row.checkIn" [min]="'2025-04-01T00:00'" [max]="'2025-04-30T23:59'"style="background-color:transparent;font-size:0.8rem;"/>
        </td>
        <td>
          <input type="datetime-local" class="form-control border" [(ngModel)]="row.checkOut" [min]="'2025-04-01T00:00'" [max]="'2025-04-30T23:59'"style="background-color:transparent;font-size:0.8rem;"/>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <div class="btn bg-info-subtle text-bold text-primary w-100 text-center no-print" (click)="addDoubleRow()">
            + ADD <strong>ROOMS</strong>
          </div>
        </td>
      </tr>
    </tbody>
  </table> 

  <table class="table table-bordered mb-0 mt-3">
    <thead>
      <tr style="background-color: #cecece !important;">
        <td colspan="5" class="text-left" style="background-color: #cecece !important;color: black; font-weight: 700;"><span style="font-weight: 700;">TRIPLE</span> <span class="ms-2" style="font-size:0.7rem !important; font-weight: 400;">(Sign the number of rooms and the Check In and Check Out dates)</span></td>
      </tr>
      <tr>
        <th style="width:10%">ID</th>
        <th style="width:10%">Acciones</th>
        <th style="width:20%">Rooms</th>
        <th style="width:30%">Check In</th>
        <th style="width:30%">Check Out</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tripleRows; let i = index">
        <td>
          <input [id]="'idSingle' + (i + 1)" type="text" class="form-control border-0" style="background-color:transparent;font-size:0.8rem;" [value]="row.id" readonly/>
        </td>
        <td class="no-print text-center">
          <a href="javascript:void(0)" (click)="removeTripleRow(i)" title="Remove block" style="font-weight:700">
            <i class="fa-regular fa-trash-can text-danger"></i>
          </a>
        </td>
        <td>
          <input type="text" class="form-control border" [(ngModel)]="row.tripleRooms" style="background-color:transparent;font-size:0.8rem;"/>
        </td>
        <td>
          <input type="datetime-local" class="form-control border" [(ngModel)]="row.checkIn" [min]="'2025-04-01T00:00'" [max]="'2025-04-30T23:59'"style="background-color:transparent;font-size:0.8rem;"/>
        </td>
        <td>
          <input type="datetime-local" class="form-control border" [(ngModel)]="row.checkOut" [min]="'2025-04-01T00:00'" [max]="'2025-04-30T23:59'"style="background-color:transparent;font-size:0.8rem;"/>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <div class="btn bg-info-subtle text-bold text-primary w-100 text-center no-print" (click)="addTripleRow()">
            + ADD <strong>ROOMS</strong>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

<!-- BLOQUE SINGLE *ngIf="tableVisible"
<table class="table table-bordered mb-0">
  <thead>
    <tr style="background-color: #cecece !important;">
      <td colspan="8" class="text-left" style="background-color: #cecece !important;border-right:1px solid #999;color: black; font-weight: 700;">SINGLE</td>
    </tr>
    <tr>
      <th style="width:3%" class="no-print"></th>
      <th style="width:7%">N°</th>
      <th style="width:20%">Family Name</th>
      <th style="width:20%">First Name</th>
      <th style="width:25%">Pass. #</th>
      <th style="width:10%">Day of arrival</th>
      <th style="width:10%">Day of departure</th>
      <th style="width:5%" class="no-print"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of tableRows; let i = index">
      <td class="no-print">
        <a href="javascript:void(0)" (click)="removeRow(i)" title="Remove block" style="font-weight:700">
          <i class="fa-regular fa-trash-can text-danger"></i>
        </a>
      </td>
      <td><input [id]="'idSingle' + (i + 1)" type="text" class="form-control border border-0" style="background-color:transparent;font-size:0.8rem;" [value]="row.id" readonly/></td>
      <td><input type="text" class="form-control border" [(ngModel)]="row.familyName" style="background-color:transparent;font-size:0.8rem;"/></td>
      <td><input type="text" class="form-control border" [(ngModel)]="row.firstName" style="background-color:transparent;font-size:0.8rem;"/></td>
      <td>
        <div class="d-flex">
          <input 
            type="text" 
            class="form-control border" 
            [(ngModel)]="row.passportNumber" 
            style="background-color:transparent;font-size:0.8rem;"
          />
          <i 
            class="fa-solid fa-cloud-arrow-up text-danger mt-1 ms-2 no-print" 
            (click)="openFileSelector(row.id)" 
            style="font-size:1.2rem; cursor:pointer"
            matTooltip="Upload document"
            [style.pointer-events]="row.passportNumber ? 'auto' : 'none'" 
            [attr.disabled]="!row.passportNumber ? true : null"
          ></i>
          <input 
            type="file" 
            [id]="'fileInput' + row.id" 
            style="display:none" 
            (change)="onFileSelected($event, row.id)" 
          />
          <i 
            class="fa-solid fa-eye text-success mt-1 ms-2 no-print" 
            (click)="openImageModal(row.id, row.passportNumber)" 
            style="font-size:1.2rem; cursor:pointer"
            [style.pointer-events]="row.passportNumber ? 'auto' : 'none'" 
            [attr.disabled]="!row.passportNumber ? true : null"
            matTooltip="See document"
          ></i>
        </div>                
      </td>
      <td><input type="datetime-local" class="form-control border" [(ngModel)]="row.dayArrival" style="background-color:transparent;font-size:0.8rem;"/></td>
      <td><input type="datetime-local" class="form-control border" [(ngModel)]="row.dayDeparture" style="background-color:transparent;font-size:0.8rem;"/></td>
      <td class="no-print">
        <a 
          href="javascript:void(0)" 
          class="text-danger ms-1" 
          style="font-size:1.2rem;" 
          matTooltip="Flight details"
          (click)="openFlightModal(row)"
          [attr.disabled]="!isFlightModalEnabled(row) ? true : null"
          [style.pointer-events]="!isFlightModalEnabled(row) ? 'none' : 'auto'">
          <i class="fa-solid fa-plane-circle-check"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div class="btn bg-info-subtle text-bold text-primary w-100 text-center no-print" (click)="addRow()">
  + ADD <strong>SINGLE</strong>
</div>  -->

<!-- BLOQUE DOUBLE/TWIN
<table class="table table-bordered mt-3 mb-0">
  <thead>
    <tr style="background-color: #cecece !important;">
      <td colspan="8" class="text-left" style="background-color: #cecece !important;border-right:1px solid #999;color: black; font-weight: 700;">DOUBLE / TWIN</td>
    </tr>
    <tr>
      <th style="width:3%" class="no-print"></th>
      <th style="width:7%">N°</th>
      <th style="width:20%">Family Name</th>
      <th style="width:20%">First Name</th>
      <th style="width:25%">Pass. #</th>
      <th style="width:10%">Day of arrival</th>
      <th style="width:10%">Day of departure</th>
      <th style="width: 5%" class="no-print"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let block of tableBlocks; let i = index">
      <tr>
        <td rowspan="2" style="vertical-align: middle;" class="no-print">
          <a href="javascript:void(0)" (click)="removeBlock(i)" title="Remove block" style="font-weight:700">
            <i class="fa-regular fa-trash-can text-danger"></i>
          </a>
        </td>
        <td rowspan="2" style="vertical-align: middle;">
          <input [id]="'idSingle' + (i + 1)" type="text" class="form-control border border-0" style="background-color:transparent;font-size:0.8rem;" [value]="block.id" readonly />
        </td>
        <td><input [id]="'familyName' + (i + 1)" type="text" class="form-control border" style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="block.familyName" /></td>
        <td><input [id]="'firstName' + (i + 1)" type="text" class="form-control border" style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="block.firstName" /></td>
        <td>
          <div class="d-flex">
            <input 
              [id]="'passNumber' + (i + 1)" 
              type="text" 
              class="form-control border" 
              style="background-color:transparent;font-size:0.8rem;" 
              [(ngModel)]="block.passportNumber" 
              (ngModelChange)="passportValidate()"/>
            <i 
              matTooltip="Upload document" 
              class="fa-solid fa-cloud-arrow-up text-danger mt-1 ms-2 no-print" 
              (click)="openFileSelectorDouble(block.id)" 
              style="font-size:1.2rem; cursor:pointer"
              [style.pointer-events]="block.passportNumber ? 'auto' : 'none'" 
              [attr.disabled]="!block.passportNumber ? true : null">
            </i>
            <input 
              type="file" 
              [id]="'fileInputDouble' + block.id" 
              style="display:none" 
              (change)="onFileSelectedDouble($event, block.id)" />
            <i 
              matTooltip="See document" 
              class="fa-solid fa-eye text-success mt-1 ms-2 no-print" 
              (click)="openImageModalDouble(block.id, block.passportNumber)" 
              style="font-size:1.2rem; cursor:pointer"
              [style.pointer-events]="block.passportNumber ? 'auto' : 'none'" 
              [attr.disabled]="!block.passportNumber ? true : null">
            </i>
          </div>
        </td>
        <td><input [id]="'dayArrival' + (i + 1)" type="datetime-local" class="form-control border" style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="block.dayArrival" (ngModelChange)="syncArrivalDate(i, $event)" /></td>
        <td><input [id]="'dayDeparture' + (i + 1)" type="datetime-local" class="form-control border" style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="block.dayDeparture" (ngModelChange)="syncDepartureDate(i, $event)" /></td>          
        <td class="no-print">
          <a 
            href="javascript:void(0)" 
            class="text-danger ms-1" 
            style="font-size:1.2rem;" 
            (click)="openFlightModalDouble(block.id, i, 1)"
            [attr.disabled]="!isFlightModalDoubleEnabled(block) ? true : null"
            [style.pointer-events]="!isFlightModalDoubleEnabled(block) ? 'none' : 'auto'">
            <i class="fa-solid fa-plane-circle-check"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td><input [id]="'familyName2' + (i + 1)" type="text" class="form-control border" style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="block.familyName2" /></td>
        <td><input [id]="'firstName2' + (i + 1)" type="text" class="form-control border" style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="block.firstName2" /></td>
        <td>            
          <div class="d-flex">
            <input 
              [id]="'passNumber2' + (i + 1)" 
              type="text" 
              class="form-control border" 
              style="background-color:transparent;font-size:0.8rem;" 
              [(ngModel)]="block.passportNumber2" 
              (ngModelChange)="passportValidate()"/>
            <i 
              matTooltip="Upload document" 
              class="fa-solid fa-cloud-arrow-up text-danger mt-1 ms-2 no-print" 
              (click)="openFileSelectorDouble2(block.id)" 
              style="font-size:1.2rem; cursor:pointer"
              [style.pointer-events]="block.passportNumber2 ? 'auto' : 'none'" 
              [attr.disabled]="!block.passportNumber2 ? true : null">
            </i>
            <input 
              type="file" 
              [id]="'fileInputDouble2' + block.id" 
              style="display:none" 
              (change)="onFileSelectedDouble2($event, block.id)" />
            <i 
              matTooltip="See document" 
              class="fa-solid fa-eye text-success mt-1 ms-2 no-print" 
              (click)="openImageModalDouble2(block.id, block.passportNumber2)" 
              style="font-size:1.2rem; cursor:pointer"
              [style.pointer-events]="block.passportNumber2 ? 'auto' : 'none'" 
              [attr.disabled]="!block.passportNumber2 ? true : null">
            </i>
          </div>
        </td>
        <td><input [id]="'dayArrival2' + (i + 1)" type="datetime-local" class="form-control border" style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="block.dayArrival2" /></td>
        <td><input [id]="'dayDeparture2' + (i + 1)" type="datetime-local" class="form-control border" style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="block.dayDeparture2" /></td>
        <td class="no-print">
          <a 
            href="javascript:void(0)" 
            class="text-danger ms-1" 
            style="font-size:1.2rem;" 
            (click)="openFlightModalDouble(block.id, i, 2)"
            [attr.disabled]="!isFlightModalDoubleEnabled(block) ? true : null"
            [style.pointer-events]="!isFlightModalDoubleEnabled(block) ? 'none' : 'auto'">
            <i class="fa-solid fa-plane-circle-check"></i>
          </a>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
  <div class="btn bg-info-subtle text-bold text-primary w-100 text-center no-print" (click)="addBlock()">
    + ADD <strong>DOUBLE/TWIN</strong> BLOCK
  </div> -->
  
  <!-- INICIO BLOQUE TRIPLE
  <table class="table table-bordered mt-3 mb-0">
    <thead>
      <tr style="background-color: #cecece !important;">
        <td colspan="8" class="text-left" style="background-color: #cecece !important;border-right:1px solid #999;color: black; font-weight: 700;">TRIPLE</td>
      </tr>
      <tr>
        <th style="width:3%" class="no-print"></th>
        <th style="width:7%">N°</th>
        <th style="width:20%">Family Name</th>
        <th style="width:20%">First Name</th>
        <th style="width:25%">Passport #</th>
        <th style="width:10%">Day of arrival</th>
        <th style="width:10%">Day of departure</th>
        <th style="width:5%" class="no-print"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let tripleBlock of tableTripleRows; let i = index">
        <tr>
          <td rowspan="3" style="vertical-align: middle;" class="no-print">
            <a href="javascript:void(0)" (click)="removeTripleBlock(i)" title="Remove block" style="font-weight:700">
              <i class="fa-regular fa-trash-can text-danger"></i>
            </a>            
          </td>
          <td rowspan="3" style="vertical-align: middle;border-bottom:0px !important;"><input [id]="'idTriple' + (i + 1)" type="text" class="form-control border " style="background-color:transparent;" [value]="tripleBlock.id"  readonly> </td>
          <td><input [id]="'familyName' + (i + 1)" type="text" class="form-control border " style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="tripleBlock.familyName" /></td>
          <td><input [id]="'firstName' + (i + 1)" type="text" class="form-control border "style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="tripleBlock.firstName" /></td>
          <td>            
            <div class="d-flex">
              <input 
                [id]="'passNumber' + (i + 1)" 
                type="text" 
                class="form-control border " 
                style="background-color:transparent;font-size:0.8rem;"
                [(ngModel)]="tripleBlock.passportNumber" 
                (ngModelChange)="passportValidate()"/>
              <i 
                matTooltip="Upload document" 
                class="fa-solid fa-cloud-arrow-up text-danger mt-1 ms-2 no-print" 
                (click)="openFileSelectorTriple(tripleBlock.id)" 
                style="font-size:1.2rem; cursor:pointer"
                [style.pointer-events]="tripleBlock.passportNumber ? 'auto' : 'none'" 
                [attr.disabled]="!tripleBlock.passportNumber ? true : null">
              </i>
              <input 
                type="file" 
                [id]="'fileInputTriple' + tripleBlock.id" 
                style="display:none" 
                (change)="onFileSelectedTriple($event, tripleBlock.id)" />
              <i 
                matTooltip="See document" 
                class="fa-solid fa-eye text-success mt-1 ms-2 no-print"
                (click)="openImageModalTriple(tripleBlock.id, tripleBlock.passportNumber)" 
                style="font-size:1.2rem; cursor:pointer"
                [style.pointer-events]="tripleBlock.passportNumber ? 'auto' : 'none'" 
                [attr.disabled]="!tripleBlock.passportNumber ? true : null">
              </i>
            </div>
          </td>
          <td><input [id]="'dayArrival' + (i + 1)" type="datetime-local" class="form-control border " style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="tripleBlock.dayArrival" (ngModelChange)="syncArrivalDateTriple(i, $event)" /></td>
          <td><input [id]="'dayDeparture' + (i + 1)" type="datetime-local" class="form-control border " style="background-color:transparent;font-size:0.8rem;"  [(ngModel)]="tripleBlock.dayDeparture" (ngModelChange)="syncDepartureDateTriple(i, $event)" /></td>
          <td class="no-print">
            <a 
              href="javascript:void(0)" 
              class="text-danger ms-1" 
              style="font-size:1.2rem;" 
              (click)="openFlightModalTriple(tripleBlock.id, i, 1)"
              [attr.disabled]="!isFlightModalTripleEnabled(tripleBlock) ? true : null"
              [style.pointer-events]="!isFlightModalTripleEnabled(tripleBlock) ? 'none' : 'auto'">
              <i class="fa-solid fa-plane-circle-check"></i>
            </a>         
          </td> 
        </tr>
        <tr>
          <td><input [id]="'familyName2' + (i + 1)" type="text" class="form-control border " style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="tripleBlock.familyName2" /></td>
          <td><input [id]="'firstName2' + (i + 1)" type="text" class="form-control border " style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="tripleBlock.firstName2" /></td>
          <td>            
            <div class="d-flex">
              <input 
                [id]="'passNumber2' + (i + 1)" 
                type="text" 
                class="form-control border " 
                style="background-color:transparent;font-size:0.8rem;" 
                [(ngModel)]="tripleBlock.passportNumber2" 
                (ngModelChange)="passportValidate()"/>
                <i 
                matTooltip="Upload document" 
                class="fa-solid fa-cloud-arrow-up text-danger mt-1 ms-2 no-print" 
                (click)="openFileSelectorTriple2(tripleBlock.id)" 
                style="font-size:1.2rem; cursor:pointer"
                [style.pointer-events]="tripleBlock.passportNumber2 ? 'auto' : 'none'" 
                [attr.disabled]="!tripleBlock.passportNumber2 ? true : null">
              </i>
              <input 
                type="file" 
                [id]="'fileInputTriple2' + tripleBlock.id" 
                style="display:none" 
                (change)="onFileSelectedTriple2($event, tripleBlock.id)" />
              <i 
                matTooltip="See document" 
                class="fa-solid fa-eye text-success mt-1 ms-2 no-print"
                (click)="openImageModalTriple2(tripleBlock.id, tripleBlock.passportNumber2)" 
                style="font-size:1.2rem; cursor:pointer"
                [style.pointer-events]="tripleBlock.passportNumber2 ? 'auto' : 'none'" 
                [attr.disabled]="!tripleBlock.passportNumber2 ? true : null">
              </i>
            </div>
          </td>
          <td><input [id]="'dayArrival2' + (i + 1)" type="datetime-local" class="form-control border " style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="tripleBlock.dayArrival2" (ngModelChange)="syncArrivalDateTriple(i, $event)" /></td>
          <td><input [id]="'dayDeparture2' + (i + 1)" type="datetime-local" class="form-control border " style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="tripleBlock.dayDeparture2" (ngModelChange)="syncDepartureDateTriple(i, $event)" /></td>
          <td class="no-print">
            <a 
              href="javascript:void(0)" 
              class="text-danger ms-1" 
              style="font-size:1.2rem;" 
              (click)="openFlightModalTriple(tripleBlock.id, i, 2)"
              [attr.disabled]="!isFlightModalTripleEnabled(tripleBlock) ? true : null"
              [style.pointer-events]="!isFlightModalTripleEnabled(tripleBlock) ? 'none' : 'auto'">
              <i class="fa-solid fa-plane-circle-check"></i>
            </a>          
          </td> 
        </tr>
        <tr>
          <td><input [id]="'familyName3' + (i + 1)" type="text" class="form-control border " style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="tripleBlock.familyName3" /></td>
          <td><input [id]="'firstName3' + (i + 1)" type="text" class="form-control border " style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="tripleBlock.firstName3" /></td>
          <td>
            <div class="d-flex">
              <input 
                [id]="'passNumber3' + (i + 1)" 
                type="text" class="form-control border " 
                style="background-color:transparent;font-size:0.8rem;"  
                [(ngModel)]="tripleBlock.passportNumber3" 
                (ngModelChange)="passportValidate()"/>
                <i 
                matTooltip="Upload document" 
                class="fa-solid fa-cloud-arrow-up text-danger mt-1 ms-2 no-print" 
                (click)="openFileSelectorTriple3(tripleBlock.id)" 
                style="font-size:1.2rem; cursor:pointer"
                [style.pointer-events]="tripleBlock.passportNumber3 ? 'auto' : 'none'" 
                [attr.disabled]="!tripleBlock.passportNumber3 ? true : null">
              </i>
              <input 
                type="file" 
                [id]="'fileInputTriple3' + tripleBlock.id" 
                style="display:none" 
                (change)="onFileSelectedTriple3($event, tripleBlock.id)" />
              <i 
                matTooltip="See document" 
                class="fa-solid fa-eye text-success mt-1 ms-2 no-print"
                (click)="openImageModalTriple3(tripleBlock.id, tripleBlock.passportNumber3)" 
                style="font-size:1.2rem; cursor:pointer"
                [style.pointer-events]="tripleBlock.passportNumber3 ? 'auto' : 'none'" 
                [attr.disabled]="!tripleBlock.passportNumber3 ? true : null">
              </i>
            </div>
          </td>
          <td><input [id]="'dayArrival3' + (i + 1)" type="datetime-local" class="form-control border " style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="tripleBlock.dayArrival3" (ngModelChange)="syncArrivalDateTriple(i, $event)" /></td>
          <td><input [id]="'dayDeparture3' + (i + 1)" type="datetime-local" class="form-control border " style="background-color:transparent;font-size:0.8rem;" [(ngModel)]="tripleBlock.dayDeparture3" (ngModelChange)="syncDepartureDateTriple(i, $event)" /></td>
          <td class="no-print">
            <a 
              href="javascript:void(0)" 
              class="text-danger ms-1" 
              style="font-size:1.2rem;" 
              (click)="openFlightModalTriple(tripleBlock.id, i, 3)"
              [attr.disabled]="!isFlightModalTripleEnabled(tripleBlock) ? true : null"
              [style.pointer-events]="!isFlightModalTripleEnabled(tripleBlock) ? 'none' : 'auto'">
              <i class="fa-solid fa-plane-circle-check"></i>
            </a>         
          </td> 
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="btn bg-info-subtle text-bold text-primary w-100 text-center no-print" (click)="addTripleBlock()">
    + ADD <strong>TRIPLE</strong> BLOCK
  </div>
</div> -->

<table class="table table-bordered mt-3 mb-0">
    <tr>
      <th>
        <p>Note: </p>
        <p class="text-danger">Important advice: We recommend to send this rooming list as soon as possible in order to have all arrangements settled with the hotel ahead of time!</p>
      </th>
    </tr>
</table>

<table class="table table-bordered mt-3 mb-0">
  <tr style="background-color: #cecece !important;">
    <td class="text-left" style="background-color: #cecece !important;color: black; font-weight: 700;">
      Organizing Committee
    </td>
  </tr>
  <tr>
    <td>
      Mr. Fabio Leon RAVINEZ / Ms. Antonella ZEVALLOS<br>
      Mobile: +51-937-678658 / +51-986-638201<br>
      E-mail:  <a href="mailto:oc-peru@fdntp.com" class="text-primary">oc-peru&#64;fdntp.com</a> / <a href="mailto:atas@fdntp.com" class="text-primary">ata&#64;fdntp.com</a> / <a href="mailto:secre@dntp.com" class="text-primary">secre&#64;dntp.com</a>
    </td>
  </tr>
</table>
</div>